<ion-view view-title="Login">
  <ion-content>
    <div class="card">
      <div class="item">
        <img class="full-image" src="img/logo.png">
      </div>
      <div class="item">
        <div class="list">
          <label class="item item-input">
            <input type="email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Password">
          </label>
          <button class="button button-block button-balanced" ng-click="login('test')">
            Sign-In
          </button>
          <p style="text-align:center;">Don't have an account? Register <a href="#" onclick="window.open('http://matthewwang.me/webpsan/', '_system', 'location=yes'); return false;">Here</a></p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
