<ion-view view-title="Add Panel">
  <ion-content class="padding">
    <div class="card">
    <div class="item item-text-wrap" style="text-align:center">
      <b>Please enter the ID Code located on the back of your Control Panel to register it to your account!</b>
      <img class="full-image" ng-src="img/control-panel.png">
      <form ng-submit="addPanel()">
        <label class="item item-input">
          <input type="text" placeholder="Control Panel ID Code (CASE SENSITIVE)" ng-model="panelData.alphaId" required="">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Preferred Name" ng-model="panelData.name" required="">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Description" ng-model="panelData.description" required="">
        </label>
        <button class="button button-block button-calm" type="submit">Add Panel</button>
      </form>
    </div>
  </ion-content>
</ion-view>
