<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="refreshDash()"
    ng-if="!$root.noInternet">
    </ion-refresher>
    <div class="list card">
      <div class="item item-divider">
        <h2>What's up, {{dashData.nameDisplay}}!</h2>
      </div>
      <div class="item item-avatar">
        <img src="img/logo.png">
        <h2>It's {{dashData.date | date:'h:mm a'}}</h2>
        <p>{{dashData.date | date:'EEEE, MMMM d, yyyy'}}</p>
      </div>
      <div class="item item-divider">
        <h2>Control Panel Information</h2>
      </div>
      <div class="item item-avatar">
        <img src="img/logo.png">
        <h2><b>{{dashData.cpCount}}</b> Active Control Panels</h2>
        <p><b>{{dashData.tagCount}}</b> Active Tags</p>
      </div>
      <div class="item item-divider">
        <h2>Tag Information</h2>
      </div>
      <ion-item class="item-avatar item-icon-right" ng-repeat="tag in dashData.tags" type="item-text-wrap" ng-click="viewTag({{tag.id}})">
        <img src="{{tag.image}}">
        <h2>{{tag.name}} - <span class="energized">Spoiling Soon</span></h2>
        <p>Spoiling in <b>{{tag.expiry_text}}</b></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
