<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Panels Tab -->
  <ion-tab title="Panels" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/panels">
    <ion-nav-view name="tab-panels"></ion-nav-view>
  </ion-tab>

  <!-- Tags Tab -->
  <ion-tab title="Tags" icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" href="#/tab/tags">
    <ion-nav-view name="tab-tags"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
